@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');

:root {
    --primary-color: red;
    --secondary-color: green;
}

body {
    font-family: 'Gemunu Libre', sans-serif;
}

h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
}

#btn1 {
    color: var(--primary-color);
}

#btn2 {
    color: var(--secondary-color);
}